@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.1em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
header {
    padding: 25px 0 0 25px;
}

.header-logo {
    width: 100px;
}

.hunberger {
    width: 80px;
    height: 80px;
    background-color: #ff2a2a;
    position: fixed;
    right: 0;
    top: 0;
}
.hunberger:hover {
    opacity: 0.8;
}

.hunberger span {
    width: 50%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 25%;
    transition: 0.5s;
}

.hunberger span:nth-child(1) {
    top: 36%
}
.hunberger span:nth-child(2) {
    top: 50%
}
.hunberger span:nth-child(3) {
    top: 64%
}

.open .hunberger span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}
.open .hunberger span:nth-child(2) {
    transform: rotate(45deg);
}
.open .hunberger span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}

/* hunberget-menu */
nav {
    /* display: none; */
    opacity: 0;
    padding: 25px 0 0 25px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ff2a2a;
    transition: 0.5s;
    /* visibility: hidden; */
}

.open nav {
    opacity: 1;
    /* display: block; */
}

nav a {
    color: white;
    font-weight: bold;
}

.hunberger-header-logo {
    width: 100px;
}

.hunberger-menu {
    margin: 30px 0;
    text-align: center;
}

.hunberger-menu li {
    margin-bottom: 25px;
}

.hunberger-btn {
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: white solid 1px;
    padding: 15px 35px;
    transition: 0.5s;
}

.hunberger-btn:hover {
    background-color: white;
    color: #ff2a2a;
}
