@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.1em;
}

img {
    width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* 共通 */
.container {
    max-width: 860px;
    margin: 0 auto;

}

/* header */
header {
    padding: 25px 0 0 25px;
}

.header-logo {
    width: 100px;
}

.hunberger {
    width: 80px;
    height: 80px;
    background-color: #ff2a2a;
    position: fixed;
    right: 0;
    top: 0;
}
.hunberger:hover {
    opacity: 0.8;
}

.hunberger span {
    width: 50%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 25%;
    transition: 0.5s;
}

.hunberger span:nth-child(1) {
    top: 36%
}
.hunberger span:nth-child(2) {
    top: 50%
}
.hunberger span:nth-child(3) {
    top: 64%
}

.open .hunberger span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}
.open .hunberger span:nth-child(2) {
    transform: rotate(45deg);
}
.open .hunberger span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}

/* hunberget-menu */
nav {
    /* display: none; */
    opacity: 0;
    padding: 25px 0 0 25px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ff2a2a;
    transition: 0.5s;
    /* visibility: hidden; */
}

.open nav {
    opacity: 1;
    /* display: block; */
}

nav a {
    color: white;
    font-weight: bold;
}

.hunberger-header-logo {
    width: 100px;
}

.hunberger-menu {
    margin: 30px 0;
    text-align: center;
}

.hunberger-menu li {
    margin-bottom: 25px;
}

.hunberger-btn {
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: white solid 1px;
    padding: 15px 35px;
    transition: 0.5s;
}

.hunberger-btn:hover {
    background-color: white;
    color: #ff2a2a;
}

/* main */

/*   experience   */
.experience {
    width: 100%;
    height: 720px;
    margin-bottom: 120px;
    position: relative; 
}

.experience-texts {
    position: absolute;
    top: 280px;
    left: 10%;
    z-index: 10;
}

.experience-texts a {
    width: 100%;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    color: white;
    border-radius: 10px;
    background-color: #ff2a2a;
    padding: 15px 0;
    border-bottom: 6px solid #9a0413;
    position: relative;
    transition: 0.5s;
}
.experience-texts a::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    top: 37%;
    right: 7%;
}
.experience-texts a:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.experience-texts p {
    font-size: 2.875rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 4px 6px white;
}

.experience-image {
    display: inline-block;
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
}

.experience-image::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 15px 15px white;
}

.experience-image img{
    width: 100%;
    height: 720px;
    object-fit: cover;
}